
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }


#map {
    position:absolute;
    left:25%;
    top:0;
    bottom:0;
    width: 75%;
}
.histogram-overlay {
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
}

.histogram-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}

.histogram-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
}

.histogram-overlay .listing-hist {
    overflow: auto;
    max-height: 100%;
}

.histogram-overlay .listing-hist > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.histogram-overlay .listing-hist a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.histogram-overlay .listing-hist a:last-child {
    border: none;
}

.histogram-overlay .listing-hist a:hover {
    background: #f0f0f0;
}


.sidebar_filters {
  top: 48px;
  left: 0;
  height:100%;
  width: 500px;
  padding:0;
  display: none;
}


.histogram_box {
  position: absolute;
  width: 25%;
  bottom:0;
  right:0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}
