body { margin:0; padding:0; }
#map { position:absolute;;
       top:56px;
       bottom:0;
       width:75%;
       left: 25%;
     }


/*Slider CSS*/
.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-inner2 {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;

}

.map-overlay-innertop2 {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-innertop3 {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 0px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(90deg, #F9B4BA, #F56BA1 ,#C32389, #790D76, #480968);
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.right{
    float:right;
}

.left{
    float:left;
}


/*Date (Time) Slider*/
h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  margin: 0px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}


/* User Defined */
.sidebar {
  position:absolute;
  top: 56px;
  left: 0;
  width: 25%;
  bottom:0;
  padding:0;
  background-color: #F9B4BA /*#E6E6FA*/;
  overflow: scroll;
}


/* Edits */
.navbar-light .navbar-brand {
  color: #ffff;
}

.bg-light {
  background-color:#480968 !important;
}

.svg-container {
  width: 100% !important;
  height:100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;

}


/* For Histogram */

    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }


#map {
    position:absolute;
    left:25%;
    top:0;
    bottom:0;
    width: 75%;
}
.histogram-overlay {
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
}

.histogram-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}

.histogram-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
}

.histogram-overlay .listing-hist {
    overflow: auto;
    max-height: 100%;
}

.histogram-overlay .listing-hist > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
}

.histogram-overlay .listing-hist a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
}

.histogram-overlay .listing-hist a:last-child {
    border: none;
}

.histogram-overlay .listing-hist a:hover {
    background: #f0f0f0;
}


.sidebar_filters {
  top: 48px;
  left: 0;
  height:100%;
  width: 500px;
  padding:0;
}


.histogram_box {
  position: absolute;
  width: 25%;
  bottom:0;
  right:0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}
